body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/fondo.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.div-container {
    background: rgba(225, 225, 225, 0.5);
    width: 400px;
    height: 300px;
    border-radius: 50px;
    display: flex;
    flex-direction: column;   
    justify-content: space-between; 
    align-items: center;
    padding: 20px;
    border-radius: 20px;
    overflow: hidden;
}

.btn {
    
    color: #000000;
    font-size: 18px;
    padding: 12px 24px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

.return {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1000;
    font-size: 18px;
    color: white;
}

.regreso{
    padding: 10px 20px;
    background-color: #2d0057;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 60px;
    font-size: 20px;
}

.regreso:hover {
    background-color: #d29bfa;
    color: #000000;
    border: none;
    border-radius: 60px;
    font-size: 20px;
}

#easy {
    background-color: #b3ffa4;
}

#medium {
    background-color: #f7eaa0;
}

#hard {
    background-color: #f57777;
}

#new_word {
    padding: 10px 20px;
    background-color: #ffffff;
    color: #000000;
    border: none;
    border-radius: 60px;
    font-size: 20px;
}