* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn {
    
    color: #000000;
    font-size: 18px;
    padding: 12px 24px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}


#button_easy {
    background-color: #1eb600;
    font-family: "Schoolbell",cursive;
    color: white;
}

#button_easy:hover {
    background-color: #1772088c;
    color: rgb(0, 0, 0);
}

#button_medium {
    background-color: rgba(255, 137, 26, 0.89);
    font-family: "Schoolbell",cursive;
    color: white;
}

#button_medium:hover {
    background-color: #a06f04ef;
    color: rgb(7, 7, 7);
}

#button_hard {
    background-color: rgb(255, 39, 39);
    font-family: "Schoolbell",cursive;
    color: white;
}

#button_hard:hover {
    background-color: #a10404da;
    color: rgb(0, 0, 0);
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/fondo.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
h1 {
    text-align: center;
    width: 100%;
    font-family: "Schoolbell",cursive;
    color: white;
}

@import url(https://fonts.googleapis.com/css2?family=Schoolbell&display=swap);


.div-tittle {
    background: rgba(98, 122, 230, 0.514);
    width: 400px;
    height: 100px;
    border-radius: 50px;
    display: flex;
    flex-direction: column;   
    justify-content: center; 
    align-items: top;
    padding: 60px;
    border-radius: 70px;
    margin: 90px auto;
    font-family: "Schoolbell",cursive;
    color: white;
}

.div-container {
    background: rgba(98, 122, 230, 0.514);
    width: 500px;
    height: 400px;
    border-radius: 50px;
    display: flex;
    flex-direction: column;   
    justify-content: space-between; 
    align-items: center;
    padding: 20px;
    border-radius: 20px;
    overflow: hidden;
}


.input-nombre {
    width: 50%;
    padding: 10px;
    border: 2px solid #b711f8;
    border-radius: 10px;
    font-size: 16px;
    border-color: rgb(175, 70, 228)
}

.label {
    font-family: "Schoolbell",cursive;
    color: white;
    margin-bottom: 10px;
    font-size: 25px;
}

.div-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    height: 700px;
}